<!DOCTYPE html>
<html>
	<body>
		<footer data-th-fragment="footerEdit" class="d-flex bg-black text-white justify-content-center flex-column flex-lg-row">
<div id="contacto" class="p-2 bg-black text-white">
            <ul class="list-group list-group-flush">
                <li class="list-group-item bg-black text-white"><h4>FACULTAD DE INGENIERIA - UNJu</h4></li>
                <li class="list-group-item bg-black text-white">
                    <p>Dirección: Ítalo Palanca Nº 10</p>
                    <p>Teléfono: 0388 422-1580</p>
                    <p>Email: info@fi.unju.edu.ar</p>
                </li>
            </ul>
        </div>
        <div class="p-2">
            <ul class="list-group list-group-flush">
                <li class="list-group-item bg-black text-white"><h4>Redes Sociales</h4></li>
                <li class="list-group-item bg-black">
                    <p><a class="link-primary link-underline link-underline-opacity-0" href="https://www.facebook.com/fiunju/?locale=es_LA">Facebook</a></p>
                    <p><a class="link-danger link-underline link-underline-opacity-0" href="https://www.youtube.com/channel/UCgS9XJlKKSYI1oJ4lIOo77A">YouTube</a></p>
                    <p><a class="link-warning link-underline link-underline-opacity-0" href="https://www.instagram.com/fiunju/?hl=es">Instagram</a></p>
                </li>
            </ul>
        </div>
        <div class="p-2 text-center text-lg-left">
            <h4>Copyright © 2014-2022 - Facultad de Ingeniería - UNJu</h4>
        </div>
    	</footer>
	</body>
</html>