<!DOCTYPE html>
<html xmlns:th="http//:www.thymeleaf.org" lang="es">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link data-th-href="@{/webjars/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
	</head>
	<body>
		<head data-th-replace="~{/layouts/headerForm::headerEditform}"></head>
		<div class="container-fluid"> 
		<div class="row justify-content-center">
			<div class="col col-sm-12 col-md-6">
				<div class="d-grid gap-2 justify-content-md-end mb-3">
				<a class="btn btn-primary" data-th-href="@{/carrera/nuevo}">Nueva carrera</a>
				</div>
				<table class="table table-info">
					<tr>
						<th>Codigo</th>
						<th>Nombre</th>
						<th>Duracion</th>
						<th>Estado</th>
						<th>Opciones</th>
					</tr>
					<tr data-th-each="c: ${carreras}">
					<td data-th-text="${c.codigo}"></td>
					<td data-th-text="${c.nombre}"></td>
					<td data-th-text="${c.cantidadAnios}+' años'"></td>
					<td>
						<span th:if="${c.estado}">Activa</span>
						<span th:if="${!c.estado}">Inactiva</span>
					</td>
					<td>
						<a class="btn btn-warning" data-th-href="@{/carrera/modificar/}+${c.codigo}" role="button">Editar</a>
						<a class="btn btn-danger" data-th-href="@{/carrera/eliminar/}+${c.codigo}" role="button">Eliminar</a>
					</td>
					</tr>
				</table>
				
			</div>
		</div>	
		</div>
		<div class="container-fluid">
		<footer data-th-replace="~{/layouts/footer::footerEdit}"></footer>
		</div>
		<script data-th-src="@{/webjars/bootstrap/js/bootstrap.bundle.min.js}" type="text/javascript"></script>
	</body> 
</html>