<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<meta value="viewport" content="width=device-width, initial-scale=1">
	<link data-th-href="@{/webjars/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
</head>

<body>
	<header data-th-replace="/layouts/headerForm::headerEditform"></header>

	<div class="row justify-content-center">
		<div class="col-md-6">
			<form th:action="${edicion} ? @{/materia/modificar} : @{/materia/guardar}" th:object="${materia}"
				method="POST">
				<div class="mb-3">
					<label for="codigo">Codigo</label>
					<div class="col-sm-12 col-lg-6">
						<input type="number" id="codigo" class="form-control" th:field="*{codigo}"
							th:disabled="${edicion} ? true : false">
						<input type="hidden" id="codigo" class="form-control" th:field="*{codigo}" th:if="${edicion}">
					</div>
				</div>
				<div class="mb-3">
					<label for="nombre">Nombre</label>
					<input type="text" id="nombre" class="form-control" th:field="*{nombre}">
				</div>
				<div class="mb-3">
					<label for="curso">Curso</label>
					<input type="text" id="nombre" class="form-control" th:field="*{curso}">
				</div>
				<div class="mb-3">
					<label for="cantidadHoras">Cantidad horas</label>
					<input type="number" id="cantidadHoras" class="form-control" th:field="*{cantidadHoras}">
				</div>
				<div class="mb-3">
					<label id="modalidad">Modalidad</label>
					<select id="modalidad" class="form-control" th:field="*{modalidad}">
						<option th:value="Virtual">Virtual</option>
						<option th:value="Presencial">Presencial</option>
					</select>
				</div>
				<div class="mb-3">
					<label id="docente">Docente</label>
					<input type="text" id="docente" class="form-control" th:field="*{docente.nombre}">
				</div>
				<div class="mb-3">
					<label id="carrera">Carrera</label>
					<input type="text" id="carrera" class="form-control" th:field="*{carrera}">
				</div>
				<p class="text-center"><input type="submit" class="btn btn-warning"
						th:value="${edicion} ? 'Modificar' : 'Guardar'"></p>
			</form>
		</div>
	</div>


	<script data-th-src="@{/webjars/bootstrap/js/bootstrap.bundle.min.js}" type="text/javascript"></script>

</body>

</html>